{% extends "layout.html" %}

{% block title %}
    Event
{% endblock %}

{% block main %}

<!--Event details-->
<h3>{{ eventname }}</h3>
<br>
<div class="d-flex flex-column align-items-center">
  <div class="inline-block d-flex flex-column bg-light rounded align-items-center p-2 pt-4 px-4">
    <div class="d-flex flex-row align-items-center">
      <p>Event ID:&nbsp;</p>
      <p id="eventid">{{ eventid }}</p>
    </div>
    <div class="d-flex flex-row align-items-center">
      <p>Event link:&nbsp;</p>
      <p id="url">commonti.me/event/{{ eventid }}</p>
    </div>
    <p>Start time: {{ format(starttime) }}</p>
    <p>End time: {{ format(endtime) }}</p>
  </div>
</div>
<button class="btn btn-dark mt-4" onclick="copy('#eventid')">Copy ID</button>
<button class="btn btn-dark mt-4" onclick="copy('#url')">Copy link</button>

<br>
<br>
<br>

<!-- List down events from the most recently connected calendar by the current user -->

{% if temptable %}

<form action="/event/{{ eventid }}" method="post">
<table class="table caption-top">
  <caption>Confirm calendar events before submitting:</caption>
  <thead>
      <tr>
          <th></th>
          <th>Event name</th>
          <th>Start of event</th>
          <th>End of event</th>
          <th>Delete?</th>
      </tr>
  </thead>
  <tbody>
      {% set index = namespace(value=1) %}
      {% for tempitem in temptable %}
          <tr>
              <td>{{ index.value }}</td>
              <td>{{ tempitem['caleventname'] }}</td>
              <td>{{ format(tempitem['caleventstarttime']) }}</td>
              <td>{{ format(tempitem['caleventendtime']) }}</td>
              <td><button class="btn btn-light" type="submit" name="delete" value="{{ tempitem['caleventid'] }}">
                Delete</button></td>              
          </tr>
          {% set index.value = index.value + 1 %}
      {% endfor %}
  </tbody>
</table>
<button type="submit" class="btn btn-dark" name="confirm" value="confirm" formmethod="post" action="/events">Submit events</button>
</form>

{% endif %}

<!-- List down all common times -->

<table class="table caption-top">
  <caption>Commontimes:</caption>
  <thead>
      <tr>
          <th></th>
          <th>Start</th>
          <th>End</th>
      </tr>
  </thead>
  <tbody>
      {% set indextwo = namespace(value=1) %}
      {% for commontime in commontimes %}
          <tr>
              <td>{{ indextwo.value }}</td>
              <td>{{ format(commontime['start']) }}</td>
              <td>{{ format(commontime['end']) }}</td>
          </tr>
          {% set indextwo.value = indextwo.value + 1 %}
      {% endfor %}
  </tbody>
</table>

<!--Lists down all the events from a calendar. From Google Calendar's API quickstart-->

    <!--Add buttons to initiate auth sequence and sign out-->
    <button class="btn btn-dark" id="authorize_button" onclick="handleAuthClick()">Connect New Calendar</button>

    <!--For copy function-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!--Google Calendar's API quickstart, modified-->
    <script type="text/javascript">

      // TODO: Set to client ID and API key from the Developer Console
      const CLIENT_ID = 'YOUR_ID'
      const API_KEY = 'YOUR_KEY'
      // const CLIENT_ID = '446324117143-hbe02an9k12un008h32l48qd88b9h7es.apps.googleusercontent.com';
      // const API_KEY = 'AIzaSyBmaT7T3e0XNN_VScnyNKlL1t29oHTrHPM';

      // Discovery doc URL for APIs used by the quickstart
      const DISCOVERY_DOC = 'https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest';

      // Authorization scopes required by the API; multiple scopes can be
      // included, separated by spaces.
      const SCOPES = 'https://www.googleapis.com/auth/calendar.readonly';

      let tokenClient;
      let gapiInited = false;
      let gisInited = false;

      document.getElementById('authorize_button').style.visibility = 'hidden';
      //document.getElementById('signout_button').style.visibility = 'hidden';

      /**
       * Callback after api.js is loaded.
       */
      function gapiLoaded() {
        gapi.load('client', initializeGapiClient);
      }

      /**
       * Callback after the API client is loaded. Loads the
       * discovery doc to initialize the API.
       */
      async function initializeGapiClient() {
        await gapi.client.init({
          apiKey: API_KEY,
          discoveryDocs: [DISCOVERY_DOC],
        });
        gapiInited = true;
        maybeEnableButtons();
      }

      /**
       * Callback after Google Identity Services are loaded.
       */
      function gisLoaded() {
        tokenClient = google.accounts.oauth2.initTokenClient({
          client_id: CLIENT_ID,
          scope: SCOPES,
          callback: '', // defined later
        });
        gisInited = true;
        maybeEnableButtons();
      }

      /**
       * Enables user interaction after all libraries are loaded.
       */
      function maybeEnableButtons() {
        if (gapiInited && gisInited) {
          document.getElementById('authorize_button').style.visibility = 'visible';
        }
      }

      /**
       *  Sign in the user upon button click.
       */
      function handleAuthClick() {
        tokenClient.callback = async (resp) => {
          if (resp.error !== undefined) {
            throw (resp);
          }
          //document.getElementById('signout_button').style.visibility = 'visible';
          document.getElementById('authorize_button').innerText = 'Connect New Calendar';
          await listUpcomingEvents();
        };

        if (gapi.client.getToken() === null) {
          // Prompt the user to select a Google Account and ask for consent to share their data
          // when establishing a new session.
          tokenClient.requestAccessToken({prompt: 'consent'});
        } else {
          // Skip display of account chooser and consent dialog for an existing session.
          tokenClient.requestAccessToken({prompt: ''});
        }
      }

      /**
       * Print the summary and start datetime/date of the next X events in
       * the authorized user's calendar. If no events are found an
       * appropriate message is printed.
       */
      
       //Get events within a specified date time range
      async function listUpcomingEvents() {
        let response;

        let min = '{{ starttime }}';
        let max = '{{ endtime }}';
        let mindate, maxdate;
        mindate = new Date(min);
        maxdate = new Date(max);
        
        try {
          const request = {
            'calendarId': 'primary',
            'timeMin': mindate.toISOString(),
            'timeMax': maxdate.toISOString(),
            'showDeleted': false,
            'singleEvents': true,
            'orderBy': 'startTime',
          };
          response = await gapi.client.calendar.events.list(request); 

        } catch (err) {
          document.getElementById('content').innerText = err.message;
          return;
        }
        const id = response.result.summary; //email associated with calendar
        const events = response.result.items;
        // if (!events || events.length == 0) {
        //   return;
        // }

        let eventslist = []; // Array of relevant event data for each event
        for (let i = 0; i < events.length; i++) {
          let thisevent = {
            "name": events[i].summary,
            "start": events[i].start.dateTime || events[i].start.date,
            "end": events[i].end.dateTime || events[i].end.date,
            "id": events[i].id
          }
          eventslist.push(thisevent);
        }

        // Pass calendar via XMLHttpRequest to the backend.
        // Also, pass the user's timezone.
        let timezone = Intl.DateTimeFormat().resolvedOptions().timeZone

        let posturl = '/event/' + '{{eventid}}';
        var xhr = new XMLHttpRequest();
        xhr.open("POST", posturl, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            value: eventslist,
            idvalue: id,
            timezone: timezone
        }));
      }

      // To help users copy text 
      function copy(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
      }
    </script>
    <script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
    <script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>

    {% endblock %}